
// @import "./_variables.scss";


// variables.scss
$backgroundColor :  #1E1E1E;
$navbarColor :  #3d424d;
//$textColor : #C678DD;
$textColor : #e0d4e4;


html{
    background-color: $backgroundColor;
}

.navbar {
    background-color: $navbarColor;
    height: auto;
    .btn{
        background-color: $navbarColor;
    }
    .burger{
        width: 2em;
        height: .2em;
        background-color: $backgroundColor;
        margin: .25em 0;
        border-radius: .2em;
    }
    div{
        background-color: $navbarColor;
    }
    input {
        color: $textColor;
    }
    label {
        color: $textColor;
    }
}

div {
    background-color: $backgroundColor;
}

h1 {
    color : $textColor;
}

input {
    color : $textColor;
}

label {
    color : $textColor;
}

