
/* ----------------------------------------------Wrapper to put digital time in center of screen-------------------------------------------- */
.wrapper-clock {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.wrapper-clock > div{
    background: #eee;
    text-align: center;
}


/* -----------------------------------------------Day-of-the-week row------------------------------------------- */
.dayoftheweek{
    display:grid;
    grid-template-columns: repeat(1);
    padding: 0.1em 0em 0.1em 0em;
    grid-gap : 0em;
    grid-auto-rows: minmax(50px, auto);
}

.dayoftheweek > div{
    background: #eee;
    text-align: center;
}

.dayoftheweek > div > h1{
    /* using px?  Is there a better way to define font size */
    font-size: 56px;
}

/* ----------------------------------------------Clock row-------------------------------------------- */
.clock {
    display:grid;
    /* grid-template-columns: 24fr 1fr 24fr 1fr 24fr; */
    grid-template-columns: repeat(5, auto);
    grid-gap : 0em;
    grid-auto-rows: minmax(50px, auto);
}

.clock > div{
    background: #eee;
    text-align: center;
}

.clock > div > h1{
    /* using px?  Is there a better way to define font size */
    font-size: 96px;
}

/* .clock > div:nth-child(odd){

    background: #ddd;

} */


/* --------------------------------------------Month row---------------------------------------------- */
.monthdayyear{
    display:grid;
    grid-template-columns: repeat(3, auto);
    padding: 0.1em 0em 0.1em 0em;
    grid-gap : 0em;
    grid-auto-rows: minmax(50px, auto);
}

.monthdayyear > div{
    background: #eee;
    text-align: center;
}

.monthdayyear > div > h1{
    /* using px?  Is there a better way to define font size */
    font-size: 56px;
}

/* .monthdayyear > div:nth-child(odd){

    background: #ddd;

} */

